/* <---Styling navbar beranda---> */
.navbar-beranda{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon-search{
    border-left: none;
    background: #EEEEEE;
    border-radius: 0px 15px 15px 0px;
}


.input-search-beranda{
    border-right: none;
    border-radius: 15px 0px 0px 15px;
    background: #EEEEEE;
}

.container-input-beranda{
    width: 450px;
}

.bt-masuk{
    background: #7126B5;
    color: white;
    border: none;
}

.bt-masuk:hover{
    background:#6d3d9a;
}
/* <---Styling navbar beranda---> */

/* <---Styling container hari---> */
.container-detail{
    /* margin: 40px; */
    /* margin-left: 100px; */
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 40px;
}

.container-hari-top{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.bt-detail{
    width: 550px;
    text-align: left;
    background: #A06ECE;
    border: none;
}

.bt-pencarian{
    background: #73CA5C;
    border: none;
    display: flex;
    flex-direction: column;
}

.bt-hari{
    background: #7126B5;
    border: none;
    display: flex;
    flex-direction: column;
}

.title-pilih{
    font-weight: bold;
}

.container-hari-center{
    margin-top: 10px;
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
}

.hari{
    border-right: solid 1px black;
    padding-right: 10px;
}

@media only screen and (max-width: 840px) {
    .bt-pencarian{
        margin-top: 10px;
    }
  }
/* <---Styling container hari---> */

/* Styling loading section in beranda */
.LoadingBeranda{
    text-align: center;
}

.text-loading{
    color: #8A8A8A;
}

.text-loading-2{
    color: #8A8A8A;
    font-size: 30px;
}
/* Styling loading section in beranda */

/* Styling none section in beranda */
.NoneSearch{
    text-align: center;
}
.text-coba{
    color: #7126B5;
}
/* Styling none section in beranda */

/* Styling finished ticket */
.TiketFinished{
    text-align: center;
}
/* Styling finished ticket */

/* Styling accordion */
.accordion{
    width: 800px;
}

.accordion-header{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.accordion-item{
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.ReadyTicket{
    display: flex;
    justify-content: center;
}

.container-jam-kota{
    display: flex;
    flex-direction: column;
    margin-left: 55px;
}

.jam{
    font-weight: bold;
}

.container-garis{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.container-detail-jadwal{
    display: flex;
    margin-top: 10px;
}

.garis-top{
    border-bottom: solid 1px black;
}

.harga{
    font-weight: bold;
    color: #7126B5;
}

.container-harga{
    margin-bottom: 10px;
    text-align: center;
    margin-left: 150px;
}

.bt-pilih{
    background-color: #7126B5;
    border: none;
    width: 100px;
}


