.modal-body-list {
  display: flex;
  flex-direction: column;
}

.result-name {
  margin-bottom: 5px; /* Jarak antara nama dan harga */
}

.result-price {
  color: #7126b5;
}

.result-price-selected {
  color: #ffff;
}

.selected {
  background-color: #4b1979;
  color: #ffff;
}
