.modal-body-list {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid gainsboro;
  margin-bottom: 10px;
  cursor: pointer;
}

.result-price {
  color: #7126b5;
}

.result-price-selected {
  color: white;
}

.selected {
  background-color: #4b1979;
  color: white;
  border-radius: 5px;
  padding: 0px 10px;
}
